{% extends 'base.html.twig' %}

{% block title %}blogApp Articles{% endblock %}

{% block body %}
    {% if articles%}
        <table class="table table-striped" id = "art">
            <thead>
            <tr>
                <th>Article title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                <td>{{ article.title }}</td>
                <td>
                <a href = "/article/{{ article.id }}" class="btn btn-info">Display</a>
                <a href="/article/edit/{{ article.id }}" class="btn btn-secondary btn-active">Edit</a>
                <a href="#" class="btn btn-primary delete-article" data-id="{{ article.id }}" id = "deleteButton">Delete</a>
                </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <p>No articles</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src = "/js/main.js"></script>
{% endblock %}